* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 200%; /* Set full height */
    font-family: "Fugaz One", sans-serif;
    margin: 0;
}

h1, h2 {
    color: #fff;
    margin-bottom: 25px;
}

h3 {
    color: #fff;
}

body {
    background: linear-gradient(40deg, #0b1f0f, #169c6f);
    font-family: "Fugaz One", sans-serif;
    font-weight: 100;
}

.navbar {
    display: flex;
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #63c582;
}

.container {
    display: flex;
    height: calc(100vh - 50px); /* Adjust height based on header height */
}

.toc {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.toc h2 {
    width: 100%;
}

.toc-column {
    flex: 1;
    min-width: 200px;
    margin: 0 10px;
}


.toc-column a {
    text-decoration: none;
    color: #63c582;
}
.toc-column ul {
    list-style-type: none;
    padding: 0;
}

.toc-column li {
    margin-bottom: 10px; /* Add space between each list item */
}

/* Adjusted button styling */
.button {
    background-color: #000000;
    color: #63c582;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block; /* Ensure buttons take up only the necessary space */
    width: 300px; /* Make buttons fill the width of the column */
    text-align: left;
    box-sizing: border-box;
    margin: 5px; /* Space between buttons */
}

.button:hover {
    background-color: #63c582;
}
