/* General reset and layout */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* Navbar styling */
.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 16px 17px;
    text-decoration: none;
}

/* Table styling */
/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Row hover effect */
tr:hover {
    background-color: #80f1af; /* Light gray */
}
