* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2{
  color: #fff;
  margin-bottom: 25px;
}
html, body {
  height: fixed;
  font-family: "Fugaz One", sans-serif;
}

h3{
  font-family: "Fugaz One", sans-serif;
  color: #fff;
}
body {
  margin: fixed;
  background: linear-gradient(40deg, #0b1f0f, #169c6f);
  font-family: "Fugaz One", sans-serif;
  font-weight: 100;
}
.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  display: flex;
  background-color: #333;
  padding: 10px;
}

.navbar a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #63c582;
}

.container {
  display: flex;
  height: calc(100vh - 50px); /* Adjust height based on header height */
}

/* Table of Contents Sidebar */
.sidebar {
  width: 250px;
  padding: 20px;
  border-right: 1px solid #63c582;
  height: 100%;
  position: sticky;
  top: 0;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  display: inline-block;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #63c582;
}

/* Main Content Area */
.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 20px;
  border: 2px solid #f1efed;
  border-radius: 20px; /* Increased radius for more rounded corners */
  overflow: hidden;
}

th, td {
  padding: 7px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px solid #f1efed;
}


table, th, td {
  border: 2px solid #f1efed;
}

/* Change table header text color */
table th,td {
  color: white;
}

th {
  background-color: #545d57;
}

tbody tr:hover {
  background-color: rgba(99, 197, 130);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgb(166, 255, 194);
  z-index: -1;
}
  table.sortable th button {
    list-style: none; /* Removes dot if it's a browser default */
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    outline: none;
    color: inherit;
  font-size: 100%;
  font-weight: bold;
  background: transparent;
  display: inline;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;

}

table.sortable th button span {
  position: absolute;
  right: 4px;
}

table.sortable th[aria-sort="descending"] span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.sortable th[aria-sort="ascending"] span::after {
  content: "▲";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.show-unsorted-icon th:not([aria-sort]) button span::after {
  content: "♢";
  color: currentcolor;
  font-size: 100%;
  position: relative;
  top: -3px;
  left: -4px;
}

table.sortable td.num {
  text-align: right;
}

table.sortable th button:focus span,
table.sortable th button:hover span {
  right: 2px;
}

table.sortable th:not([aria-sort]) button:focus span::after,
table.sortable th:not([aria-sort]) button:hover span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}
