/* Reset and Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Set to 100% for proper layout */
    font-family: "Fugaz One", sans-serif;
    margin: 0;
    background: linear-gradient(to right, #0b1f0f, #169c6f);
    font-weight: 100;
}

h1, h2 {
    margin-top: 17px;
    color: #fff;
    margin-bottom: 25px;
}

h3 {
    font-family: "Fugaz One", sans-serif;
    color: #fff;
}
th button {
    font-family: 'Fugaz One', sans-serif;
    font-size: 16px; /* Adjust as needed */
}
/* Navbar */
.navbar {
    display: flex;
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #63c582;
}

/* Two Column Layout */
.two-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between columns */
    padding: 20px;
}

.table-column {
    flex: 1; /* Takes up equal space */
    min-width: 45%; /* Ensures columns don't get too narrow */
}

.content-column {
    flex: 1; /* Takes up equal space */
    min-width: 45%;
}

/* Table Styling */
#data-table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    margin-bottom: 20px;
    border: 2px solid #f1efed;
    border-radius: 20px;
    overflow: hidden;
}

#data-table th, #data-table td {
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 2px solid #f1efed;
    color: white;
}

#data-table th {
    background-color: #545d57;
}

/* Row and Cell Hover Effects */
tbody tr:hover {
    background-color: rgba(99, 197, 130, 0.5);
}

tbody td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(125, 254, 166, 0.649);
    z-index: -1;
}

/* Sortable Table Styling */
table.sortable th button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

table.sortable th button span {
    position: absolute;
    right: 4px;
}

table.sortable th[aria-sort="descending"] span::after {
    content: "▼";
    color: currentcolor;
}

table.sortable th[aria-sort="ascending"] span::after {
    content: "▲";
    color: currentcolor;
}

table.sortable th:not([aria-sort]) button span::after {
    content: "♢";
    color: currentcolor;
    position: relative;
    top: -3px;
    left: -4px;
}
