* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* General Reset and Layout */
body {
    font-family: "Fugaz One", sans-serif;
    margin: 0;
    background: linear-gradient(to right, #0b1f0f, #169c6f);
    font-weight: 100;
}

.navbar {
    display: flex;
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #63c582;
}

/* Welcome Section */
.welcome-section h1 {
    font-weight: bold;
    color: #fff;
    font-size: 190px;
    text-align: center;
    margin-top: 50px; /* Space from the top */
    margin-bottom: 50px; /* Space below the header */
}

/* Standings Section */
.standings-section {
    margin-top: 150px; /* Space between sections */
    text-align: center;
}

.standings-section h1 {
    font-weight: bold;
    color: #fff;
    font-size: 200px;
}

.top-right-image {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    width: 700px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Stats Section */
.stats-section {
    margin-top: 100px; /* Space between sections */
    text-align: center;
}

.stats-section h2 {
    color: #fff;
    font-size: 200px;
}

.image {
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    width: 700px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}


/* Hover Effect for Table Rows */
tr:hover {
    background-color: #80f1af; /* Light green */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 100px; /* Reduce font size for smaller screens */
    }

    .top-right-image,
    .image {
        width: 100%;
    }

    .welcome-section h1 {
        font-size: 150px; /* Adjust header size on small screens */
    }
}
